{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recommandation.css') }}">


{% endblock %}

{% block body %}
    {{ parent() }}
    <!-- Premier container -->
    <section id="pagecontainer">

        <!-- Résultat de la recherche -->
        <section id="filmgrille">
            <div class="container">
                <div class="white-divider"></div>
                <div class="heading">
                    <h2>Séries</h2>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien1" href="">
                            <img class="card-img-top image1" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title1"> </h5>
                            <p class="card-text card1">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien2" href="">
                            <img class="card-img-top image2" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title2"></h5>
                            <p class="card-text card2">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien3" href="">
                            <img class="card-img-top image3" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title3"></h5>
                            <p class="card-text card3" >Pas d'information sur cette série.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card-deck">
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien4" href="">
                            <img class="card-img-top image4" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title4"> </h5>
                            <p class="card-text card4">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien5" href="">
                            <img class="card-img-top image5" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title5"></h5>
                            <p class="card-text card5">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien6" href="">
                            <img class="card-img-top image6" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title6"></h5>
                            <p class="card-text card6">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card-deck">
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien7" href="">
                            <img class="card-img-top image7" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title7"></h5>
                            <p class="card-text card7">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien8" href="">
                            <img class="card-img-top image8" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title8"></h5>
                            <p class="card-text card8">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="divimage">
                            <a class="thumbnail lien9" href="">
                            <img class="card-img-top image9" src="{{ ('../../img/noimage.jpg') }}" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title9"></h5>
                            <p class="card-text card9">Pas d'information sur cette série.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>


{% endblock %}

{% block javascripts %}
        {{ parent() }}
    <script>
        var name = '{{ name }}';
    </script>

    <script src="{{asset('js/recommandation.js')}}"></script>



{% endblock %}
